.book-card-content {
    border: 1px solid var(--color-bleu);
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
}

.book-card-title h1 {
font-weight: 600;
}

.book-card-auteur h1 {
    font-weight: 200;
    font-style: italic;
}

.book-card-add button {
    margin-top: 1rem;
    background-color: var(--color-rose);
    padding: 0.5rem 3rem;
    border-radius: 100px;
    transition: 0.7s;
    color: white;
}

.book-card-add button:hover {
    background-color: var(--color-rosefonce);

}