.home-content {
    height: 70vh;
    background-color: var(--color-rose);
}



.home-slogan h1 {
font-weight: 600;
color: var(--color-blanc);
font-size: 3rem;
width: 50rem;
padding: 7rem 0 0 5rem ;
}

.bookipotes {
color: var(--color-bleu);
}

.home-search {
    display: flex;
    align-items: center;
    margin: 2rem 0 0 5rem;
    padding: 0 0 0 0rem;
    background-color: var(--color-blanc);
    width: 50rem;
    height: 5rem;
    border-radius: 100px;
}

.home-search input[type="text"] {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    margin: 0 0 0 2rem;
    width: 79%;
    height: 80%;
}

.home-search button {
    color: var(--color-blanc);
    width: 19%;
    border-radius: 100px;
    background-color: var(--color-bleufonce);
    height: 80%;
    margin: 0 0.5rem 0 0;
    transition: 0.4s;
}

.home-search button:hover {
background-color: var(--color-bleuinter);
}