

.onebookdetails-flex {
  display: flex;
}

.onebookdetails-border-picture {
  background-color: var(--color-jaune);
  height: auto;
  width: 60vw;
  display: flex;
  align-items: flex-start;
  border-top: 2rem solid var(--color-blanc);
  border-right: 2rem solid var(--color-blanc);
  border-left: 2rem solid var(--color-blanc);

}

.onebookdetails-border-form {
  background-color: var(--color-jaune);
  height: auto;
  width: 60vw;
  display: flex;
  align-items: flex-start;
  border-top: 2rem solid var(--color-blanc);
  border-right: 2rem solid var(--color-blanc);
  border-left: 2rem solid var(--color-blanc);
  height: 79vh;

}


.onebookdetails-picture img {
  height: auto;
  width: 10rem;
  border-right: 1rem solid var(--color-blanc);
  border-bottom: 1rem solid var(--color-blanc);


  border-radius: 0 0 100px 0;
}

.onebookdetails-title h1 {
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0 0 6rem;
}

.onebookdetails-auteur,
.onebookdetails-date,
.onebookdetails-editeur,
.onebookdetails-categorie {
  padding: 0 0 0 6rem;
  font-style: italic;
}

.onebookdetails-right-part {
 min-height: 41rem;
  background-color: var(--color-blancgris);
  border-top: 2rem solid var(--color-blanc);
  border-bottom: 2rem solid var(--color-blanc);
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.onebookdetails-desc {
  background-color: var(--color-jaune);
  border-left: 2rem solid var(--color-blanc);
  border-bottom: 2rem solid var(--color-blanc);
 width: 57.762vw;
 min-height: 23rem;
}

.onebookdetails-desc h2 {
  font-size: 1.7rem;
  text-decoration: underline;
  padding: 3rem 0 0 6rem;
  font-weight: 600;
}

.onebookdetails-desc p {
  padding: 1rem 8rem 3rem 6rem;
}

.onebookdetails-book-status h1 {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 600;
  padding: 0 3rem 0 2rem;
  color: var(--color-bleuifonce);
}

.onebookdetails-btn-add {
  margin-top: 3rem;
}

.onebookdetails-btn-add button {
  min-width: 26rem;
  color: var(--color-blanc);
  border-radius: 100px;
  padding: 1rem 0 1rem 0;
  background-color: var(--color-rose);
  transition: 0.4s;
}

.onebookdetails-btn-add button:hover {
background-color: var(--color-rosefonce);
}


.onebookdetails-btn-got button {
  width: 26rem;
  color: var(--color-blanc);
  border-radius: 100px;
  margin: 2rem 0 0 0;
  padding: 1rem 0rem;
  background-color: var(--color-bleufonce);
  transition: 0.4s;
}

.onebookdetails-btn-got button:hover {
background-color: var(--color-bleuinter);
}

.onebookdetails-userlist-text h2 {
  padding: 0 2rem 0 2rem
}

.onebookdetails-flex-btn-contact {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.onebookdetails-flex-btn-contact button {
  width: auto;
  padding: 1rem 2rem;
  margin: 0 0 2rem 0;
  background-color: var(--color-jaune);
  border-radius: 100px;
}

.onebookdetails-userlist-line {
width: 100%;
height: 2rem;
background-color: var(--color-blanc);
}

.onebookdetails-border-form h1 {
  color: var(--color-blanc);
  font-size: 3rem;
  font-weight: 600;
}

.onebookdetails-about-book form {
  display: flex;
  flex-direction: column;
}

.onebookdetails-border-form {
  display: flex;
  justify-content: space-around;
}

.onebookdetails-border-form textarea{
  border: none;
  background-color: var(--color-jaune);
  resize: none;
  outline: none;
  width: 40rem;
  height: 26rem;
  font-size: 2rem;
  font-weight: 600;
  caret-color: var(--color-noir);
}

.onebookdetails-border-form button {
  background-color: var(--color-bleufonce);
  color: var(--color-blanc);
  padding: 2rem 0 2rem 0;
  border-radius: 100px;
  transition: 0.7s;
}

.onebookdetails-border-form button:hover {
  background-color: var(--color-bleuinter);
}