.trade-content {
  min-height: 70vh;
  background-color: var(--color-blancgris);

}

.trade-header {

  min-height: 5vh;
  background-color: var(--color-blanc);
  padding: 3rem 0 0 0;
}
.trade-list {

  background-color: var(--color-blanc);
  min-height: 65vh;
}

.trade-filter-title h2 {
    padding: 0 0 1rem 6rem;
    font-weight: 600;
}

.trade-filter-list li {
    padding: 0 8rem 0 8rem;
}

.trade-filter-list p {
    margin-left: 8rem;
    padding-right: 2rem;
}

.trade-filter-list {
    padding: 0 0 2rem 0;
}

.trade-filter {
  background-color: var(--color-blanc);
  min-height: 65vh;
  border-right: 1px solid black;
  margin: 5.3rem 0 0 0;
}

.trade-header-title h1 {
  font-weight: 600;
  color: var(--color-bleu);
  font-size: 2.625rem;
  width: 50rem;
  padding: 2rem 0 0 6rem;
  text-decoration: underline;
  text-decoration-color: var(--color-rose) ;
}

.trade-list-search {
    display: flex;
    align-items: center;
    margin: 1rem 0 0 -21rem;
    padding: 0 0 0 0rem;
    background-color: var(--color-rose);
    width: 54rem;
    height: 5rem;
    border-radius: 100px;
}

.trade-list-search input[type="text"] {
    position: relative;
    border: none;
    border-radius: 100px 0 0 100px;
    background-color: var(--color-blanc);
    resize: none;
    outline: none;
    margin: 0 0 0 0.5rem;
    width: 36rem;
    height: 80%;
    padding: 0 0 0 2rem;
    z-index: 0;
}


.trade-list-search button {
    position: absolute;
    color: var(--color-blanc);
    width: 24rem;
    border-radius: 0 100px 100px 0;
    border-left: 0.5rem solid var(--color-rose);
    background-color: var(--color-bleu);
    height: 4rem;
    margin: 0 0.5rem 0rem 29.5rem;
    transition: 0.4s;
    z-index: 1;
}

.trade-list-search button:hover {
background-color: var(--color-bleufonce);
}

.trade-list-result {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3.3rem 0 4rem 5rem;
    min-width: 70vw;
}

.trade-flex {
    display: flex;
    flex-direction: row-reverse;
}

.trade-header {
    display: flex;
}
